#contact-info {
	font-size: .8em;
}

p:first-child {
	font-size: 1.2em;
}


.job {
background-color: #E9E5DC;
border-radius: 20px;
padding: 1px 0px 1px 10px;
margin-bottom: 10px
}

.list {
	font-size: .8em;
}

.list:hover {
	color: teal;
	font-size: 1.2em;
}

li:nth-of-type(2) {
	text-decoration: underline;
}